* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('begron.jpg'); /* ganti sesuai kebutuhan */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h1 {
    text-align: center;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    width: 100%;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid white;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

.product button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.product button:hover {
    background-color: #0056b3;
}

#cart {
    margin-top: 30px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    padding: 5px 0;
}
